/*
  Pragmatic JavaScript
  Chapter 2
  Programming Assignment

  Author: Nicholas Skelton
  Date: 11.20.25
  Filename: styles.css
*/

body {
  font-family: Arial, sans-serif;
  background-color: rgb(171, 217, 243)
}

.form-container {
  width: 300px;
  margin: 50px auto;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background: #0077cc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background: #005fa3;
}

#reservationForm {
  padding-top: 20px;
}

#message {
  margin-top: 10px;
}