/*
  Pragmatic JavaScript
  Chapter 1
  Programming Assignment

  Author: Nicholas Skelton
  Date: 11.1.25
  Filename: styles.css
*/

/* Your CSS goes here */

body {
  font-size: 30px;
  font-family: "MedievalSharp", serif;
  background: #3a3a3a;
  margin: 0;
  padding: 0;
}

#mainContainer {
  width: 380px;
  margin: 50px auto;
  padding: 20px;
  background: #b98f8f;
  border: 4px solid #6b0c0c;
  border-radius: 8px;
  box-shadow: 0 0 25px #4b3232;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

input[type="text"] {
  width: 95%;
  padding: 8px;
  margin: 5px 0 12px;
  border: 3px solid #6b0c0c;
  border-radius: 4px;
  background: #fff9ed;
}

select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 12px;
  border: 1px solid #6b0c0c;
  border-radius: 4px;
  background: #fff9ed;
}

button {
  font-family: "MedievalSharp", serif;
  font-size: 15px;
  width: 100%;
  padding: 10px;
  background: #6b0c0c;
  color: #fff;
  border: none;
  border-radius: 4px;
}

#characterOutput {
  font-family: "MedievalSharp", serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}